{
  "env": {
    "production": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript"
      ],
      "plugins": [
        "@babel/proposal-class-properties",
        "transform-object-rest-spread"
      ]
    },
    "test": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript"
      ],
      "plugins": [
        "istanbul"
      ]
    },
    "development": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript"
      ],
      "plugins": [
        "@babel/proposal-class-properties",
        "transform-object-rest-spread"
      ]
    }
  }
}
